<header>

<nav>
<ul>
      
<a href="/"><li>Home</li></a>
<a href="/registro"><li>Registro</li></a>
<a href="/usuarios"><li>usuarios</li></a>
<a href="/editar"><li>editar producto</li></a>

</ul>

</nav>

</header>